In [3]:
import pandas as pd

df = pd.read_csv('../data/prices.csv')

df

     Rooms  Distance  Value
0    7.489    1.9709   50.0
1    7.802    2.0407   50.0
2    8.375    2.1620   50.0
3    7.929    2.0459   50.0
4    7.831    3.1992   50.0
..     ...       ...    ...
344  5.966    6.8185   16.0
345  5.613    1.7572   15.7
346  5.924    4.3996   15.6
347  5.757    2.3460   15.6
348  5.468    1.4118   15.6

[349 rows x 3 columns]

In [5]:
y = df['Value']
x = df[['Rooms', 'Distance']]

In [6]:
from sklearn import linear_model
lm = linear_model.LinearRegression()
lm.fit(x, y)

LinearRegression()

In [7]:
lm.predict([[15, 61]])

/home/daniel/Documents/GitHub/machine-learning-web-app/env/lib64/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([77.52315295])

In [ ]:
import pickle
pickle.dump(lm, open('../data/model.pkl', 'wb'))